# Machine Learning & Deep Learning  
tensorflow  
tensorflow-datasets  

# Data Processing & Utilities  
numpy  
pandas  

# Visualization  
matplotlib  
seaborn  

# Model Evaluation  
scikit-learn  

# Model Deployment
streamlit